fleetTelematik/target/
fleetTelematik/.settings/
fleetTelematik/.classpath
fleetTelematik/.mvn/wrapper/maven-wrapper.jar
fleetTelematik/.mvn/wrapper/maven-wrapper.properties
fleetTelematik/.project
fleetTelematik/mvnw
fleetTelematik/mvnw.cmd
fleetTelematik/src/main/resources/routeFile/osm_2po.gph
/target/
